# Ignore local .terraform directories in any subdirectory
**/.terraform/

# Ignore all .tfstate and backup files everywhere
*.tfstate
*.tfstate.*

# Ignore all variable files as they may contain secrets
*.tfvars
*.tfvars.json

# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore crash logs
crash.log
